{{> logout}}
{{> messageHandler}}



<div class=" mb-3 text-center">
  <form action="/expense/category" method="GET" id="category-form">
  <select name="select" style="width: 20%" class="fs-5" id="category-select" >
    
    {{#if selectCategory}}
    <option value="" disabled selected hidden>{{selectCategory}}</option>
    {{else}}
    <option value="" disabled selected hidden>請選擇類別</option>
     {{/if}}
    <option value="家居物業">家居物業</option>
    <option value="交通出行">交通出行</option>
    <option value="休閒娛樂">休閒娛樂</option>
    <option value="餐飲食品">餐飲食品</option>
    <option value="其他">其他</option>
  </select>
  </form>
</div>

<div style="width: 30%;"  class="mx-auto">
<span class="fs-3">總金額：</span>
<h1  style="font-size: 70px; color:rgb(255, 132, 0)" class="text-end">{{totalAmount}}</h1>
</div>

<div style="width: 80%; margin-left:30%" >
  <ul class="list-group "></ul>

{{#each records}}
   <li  class="list-group-item d-inline-flex justify-content-between" style="width: 50%;" data-id="{{this.index}}">
    <div class="d-inline-block">
      <div class="d-inline fs-1 me-2"><i class="{{this.icon}} " style="width:20%; color:rgb(48, 172, 206)"></i></div>
    <div class="d-inline-block fs-4 ms-4">{{this.name}}<div class="fs-6">{{this.date}}</div></div>
    </div>

   <span  class="d-inline-block fs-2 pt-2">{{this.amount}}</span></li> 

  <a href="/expense/{{this.id}}/edit" class="ms-3 mb-4 btn btn-outline-secondary btn-sm d-inline-block" style="width: 5%;">修改</a>

    <form action="/expense/{{this.id}}?_method=DELETE" method="POST" class="d-inline-block " style="width: 5%;">
    <button class="mb-4 ms-3 btn btn-outline-secondary btn-sm "style="width: 100%;" >刪除</button>
    </form>
{{/each}}
</ul>
</div>


{{#if selectCategory }}
<div class="text-center">
<form action="/expense/category" method="GET" class="d-inline-block mt-3">
<input type="hidden" name="page" value="{{prev}}" >
<input type="hidden" name="select" value="{{selectCategory}}" >
<button type="submit" class="btn btn-outline-secondary btn-sm mb-1">上一頁</button>
</form>

<form action="/expense/category" method="GET" class="d-inline-block ms-2 me-2" style="width: 20%;" id="page-number-form">
<input type="number" name="page" id="page-number" value="{{pageNumber}}" style="width: 30%;height:32px" class="fs-5"  min="1" max="{{totalPage}}">
<input type="hidden" name="select" value="{{selectCategory}}" >
<span class="fs-5">/ {{totalPage}}</span>
</form>

<form action="/expense/category" method="GET" class="d-inline-block mt-3" >
<input type="hidden" name="page" value="{{next}}">
<input type="hidden" name="select" value="{{selectCategory}}" >
<button type="submit" class="btn btn-outline-secondary btn-sm mb-1">下一頁</button>
</form>
</div>
{{else}}
<div class="text-center">
<form action="/expense" method="GET" class="d-inline-block mt-3">
<input type="hidden" name="page" value="{{prev}}" >
<button type="submit" class="btn btn-outline-secondary btn-sm mb-1">上一頁</button>
</form>

<form action="/expense" method="GET" class="d-inline-block ms-2 me-2" style="width: 20%;" id="page-number-form">
<input type="number" name="page" id="page-number" value="{{pageNumber}}" style="width: 30%;height:32px" class="fs-5" min="1" max="{{totalPage}}">
<span class="fs-5">/ {{totalPage}}</span>
</form>

<form action="/expense" method="GET" class="d-inline-block mt-3" >
<input type="hidden" name="page" value="{{next}}">
<button type="submit" class="btn btn-outline-secondary btn-sm mb-1">下一頁</button>
</form>
</div>
{{/if}}

<div class="mx-auto" style="width: 30%;">
   <a href="/expense/new" class="fs-4 mt-4 mb-5 btn btn-warning d-inline-block" style="width: 100%; border: 2px solid rgb(211, 108, 12);color:rgb(255, 255, 255) ;letter-spacing: 2px">新增支出</a>
</div>

<script src="../expense.js"> 
</script>